---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import LiveDashboard from '../components/LiveDashboard.astro';
import DigitalEcosystem from '../components/DigitalEcosystem.astro';
import Profil from '../components/Profil.astro';
import Testimonial from '../components/Testimonial.astro';
import Berita from '../components/Berita.astro';
import EResources from '../components/EResources.astro';
import KoleksiTerbaru from '../components/KoleksiTerbaru.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Perpustakaan IAIN Sorong">
	<Header />
	<main>
		<Hero />
		<LiveDashboard />
		<DigitalEcosystem />
		<Profil />
		<EResources />
		<KoleksiTerbaru />
		<Berita />
		<Testimonial />
	</main>
	<Footer />
</Layout>
