---
---
<section id="layanan" class="py-16 bg-[#F0FDF4] border-b border-[#dadada]">
        <div class="max-w-[1280px] mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex justify-between items-end mb-10">
            <div class="">
              <h3 class="text-2xl tracking-tight font-semibold text-[#222222]">
                Layanan Akademik
              </h3>
              <p class="font-serif text-base text-[#666666] mt-2">
                Fasilitas dan pelayanan terpadu untuk civitas akademika.
              </p>
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <!-- Card 1 -->
            <div class="bg-white rounded-[8px] border border-[#dadada] p-6 group hover:border-[#BBF7D0] shadow-sm hover:shadow-md transition-all duration-300 flex flex-col h-full">
              <div class="flex items-center gap-3 mb-4 text-[#168940]">
                <iconify-icon icon="lucide:bookmark" class="text-[#805AD5]" width="2rem" style="stroke-width: 1.5;"></iconify-icon>
                <h3 class="text-xl tracking-tight font-semibold group-hover:underline decoration-1 underline-offset-2">
                  Layanan Sirkulasi
                </h3>
              </div>
              <p class="font-serif text-sm text-[#444444] leading-relaxed flex-grow">
                Peminjaman, pengembalian, dan perpanjangan koleksi. Maksimal
                pinjam 5 judul selama 2 minggu. Didukung sistem Self Borrowing
                Machine dan Book Drop 24 jam.
              </p>
              <div class="mt-6 pt-4 border-t border-[#dadada]">
                <a href="#" class="text-sm font-semibold text-[#168940] flex items-center gap-1 hover:text-[#0B4226] transition-colors focus-visible:ring-[3px] focus-visible:ring-[#EAB308] rounded-sm outline-none w-max">
                  Ketentuan Sirkulasi
                  <iconify-icon icon="lucide:chevron-right" class="text-[#3182CE]"></iconify-icon>
                </a>
              </div>
            </div>

            <!-- Card 2 -->
            <div class="bg-white rounded-[8px] border border-[#dadada] p-6 group hover:border-[#BBF7D0] shadow-sm hover:shadow-md transition-all duration-300 flex flex-col h-full">
              <div class="flex items-center gap-3 mb-4 text-[#168940]">
                <iconify-icon icon="lucide:file-text" class="text-[#D69E2E]" width="2rem" style="stroke-width: 1.5;" class=""></iconify-icon>
                <h3 class="text-xl tracking-tight font-semibold group-hover:underline decoration-1 underline-offset-2">
                  Layanan Referensi
                </h3>
              </div>
              <p class="font-serif text-sm text-[#444444] leading-relaxed flex-grow">
                Bantuan penelusuran informasi akurat. Tersedia Koleksi Papua,
                Kitab Moderasi Beragama, Skripsi/Tesis, dan BI Corner. Baca di
                tempat khusus koleksi referensi.
              </p>
              <div class="mt-6 pt-4 border-t border-[#dadada]">
                <a href="#" class="text-sm font-semibold text-[#168940] flex items-center gap-1 hover:text-[#0B4226] transition-colors focus-visible:ring-[3px] focus-visible:ring-[#EAB308] rounded-sm outline-none w-max">
                  Akses Repositori
                  <iconify-icon icon="lucide:chevron-right" class="text-[#38A169]"></iconify-icon>
                </a>
              </div>
            </div>

            <!-- Card 3 -->
            <div class="bg-white rounded-[8px] border border-[#dadada] p-6 group hover:border-[#BBF7D0] shadow-sm hover:shadow-md transition-all duration-300 flex flex-col h-full">
              <div class="flex items-center gap-3 mb-4 text-[#168940]">
                <iconify-icon icon="lucide:laptop" class="text-[#319795]" width="2rem" style="stroke-width: 1.5;"></iconify-icon>
                <h3 class="text-xl tracking-tight font-semibold group-hover:underline decoration-1 underline-offset-2">
                  Kelas Literasi
                </h3>
              </div>
              <p class="font-serif text-sm text-[#444444] leading-relaxed flex-grow">
                Program pelatihan rutin (HONAI : House of Academic Knowledge and Information &amp; KALISTA) untuk mahasiswa
                dan dosen. Mencakup penelusuran e-journal, Reference Manager,
                dan optimasi publikasi ilmiah.
              </p>
              <div class="mt-6 pt-4 border-t border-[#dadada]">
                <a href="#" class="text-sm font-semibold text-[#168940] flex items-center gap-1 hover:text-[#0B4226] transition-colors focus-visible:ring-[3px] focus-visible:ring-[#EAB308] rounded-sm outline-none w-max">
                  Jadwal Kelas
                  <iconify-icon icon="lucide:chevron-right" class="text-[#E53E3E]"></iconify-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>